rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
    // Allow public read access, but only content owners can write
    match /registered_accounts/{allPaths=**} {
      allow read: if true
      allow write: if request.auth.uid != null
    }
    match /professionals/{allPaths=**} {
      allow read: if true
      allow write: if request.auth.uid != null
    }
    match /messages_meta/{allPaths=**} {
      allow read: if true
      allow write: if request.auth.uid != null
    }
    match /rooms/{allPaths=**} {
      allow read: if true
      allow write: if request.auth.uid != null
    }
    match /users/{allPaths=**} {
      allow read: if true
      allow write: if request.auth.uid != null
    }
    match /favourites/{allPaths=**} {
      allow read: if true
      allow write: if request.auth.uid != null
    }
  }
}