#header {
  padding: 8px 0;
}

#header .row {
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

#header #mobile-header-navigation {
  display: none;
}

#header #mobile-header-navigation .searchHeaderSection li {
  border-bottom: 0;
}

#header #mobile-header-logo img {
  width: 120px;
}

#header #menu-icon {
  margin-left: 10px;
  cursor: pointer;
}

#header #menu-icon img {
  width: 25px;
}

#header #mobile-header-access {
  display: flex;
  align-items: center;
}

#header #mobile-header-access .access {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#header #mobile-header-access li {
  margin: 0 10px;
}

#header #mobile-header-access li a {
  color: #FB743E;
  font-family: 'Yantramanav-medium';
  font-weight: 500;
  font-size: 16px;
}

#header #mobile-header-navigation {
  width: 100%;
  padding: 20px 0;
}

#header #mobile-header-navigation .access {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column;
}

#header #mobile-header-navigation .access li a {
  color: #FB743E;
}

#header #mobile-header-navigation li a {
  font-family: 'Yantramanav-medium';
  font-weight: 500;
}

#header #mobile-header-navigation .nav {
  flex-direction: column;
  padding: 0;
}

#header #mobile-header-navigation .nav li {
  padding: 15px 0;
  margin: 0;
}

#header #mobile-header-navigation li {
  padding: 15px 0;
  border-bottom: solid 1px #d7d7d7;
}

#header #mobile-header-navigation .nav li:last-child {
  border-bottom: none;
}

#header #mobile-header-navigation .header-prof-info {
  padding: 10px 0;
  border-bottom: solid 1px #d7d7d7;
}

@media(max-width:360px) {
  #header #mobile-header-access .access {
    display: none;
  }
  .full-services .service-item {
    width: 100% !important;
  }
}

@media(max-width:600px) {
  .portfolio-item .portfolio-front-img {
    height: 90px;
  }
  .preview-work-image {
    height: 200px;
  }
  .prof-and-stars {
    flex-direction: column;
  }
  .prof-box-img .prof-img-bg {
    width: 80px;
    height: 80px;
  }
  .prof-box .prof-info {
    padding-left: 0;
    padding-top: 15px;
    width: 100%;
  }
  .prof-prof-stars {
    margin-top: 12px;
  }
  .full-services .service-item {
    width: 50%;
  }
  .prof-box-full .prof-info {
    padding-left: 0;
  }
  .prof-box-full .prof-professions {
    float: initial;
  }
  #footer .footer-wrap {
    flex-direction: column;
  }
  .register-as-prof-banner,
  .add-announcement-banner {
    width: 100%;
  }
  #home-page h1 {
    font-size: 29px;
  }
  .most-searched-wrap .row {
    justify-content: center;
  }
}

@media(max-width:767px) {
  .popup-box {
    width: 320px;
    padding: 15px;
  }
  .profile-box-head,
  .profile-box-body,
  .prof-box-full,
  .review-box-head,
  .review-box-body {
    padding: 15px !important;
  }
  .profile-box-body .input-with-label {
    min-width: 100%;
  }
  .prof-box-body-img .input-with-label {
    min-width: auto;
  }
  .prof-box-body-info {
    padding-left: 0;
  }
  .prof-box-body-img,
  .prof-box-body-info {
    width: 100%;
  }
  .prof-box-body-img {
    margin-bottom: 20px;
    flex-direction: row;
    padding-right: 0;
  }
  .prof-box-body-img .input-with-label {
    margin-top: 0;
  }
  .prof-box-body-img .col-md-6 {
    margin-right: 20px;
  }
  .inp-service,
  .inp-location {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .search-bar button {
    width: 100%;
  }
  .mobile-filter-swap {
    position: fixed;
    background-color: #f4f4f4;
    padding-bottom: 15px;
    height: 75%;
    top: 25%;
    z-index: 11;
    left: 0;
    box-shadow: 0px -1px 6px 0px #00000012;
    transform: translate(0, calc(100% - 48px));
    transition-duration: .3s;
  }
  .mob-fil-overlay {
    background-color: rgba(0, 0, 0, .32);
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .mobile-filter-swap .sidebar-filter,
  .mobile-filter-swap #servicesContainer {
    height: 75%;
  }
  .mobile-filter-swap #servicesContainer {
    box-shadow: inset 0 -5px 10px -6px #00000012;
  }
  .mobile-filter-swap h3 {
    height: 48px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-between;
    background-color: #fafafa;
    border-bottom: solid 1px #C1C1C1;
    border-top: solid 1px #C1C1C1;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
  }
  .mobile-filter-swap h3:hover,
  .mobile-filter-swap h3:focus {
    background-color: #f5f5f5;
  }
  .mobile-filter-swap h3::after {
    content: url('/images/wide-arrow.svg');
    float: right;
    line-height: 0;
    transform: rotate(0deg);
    transition-duration: .3s;
  }
  .mobile-filter-swap h3.active::after {
    transform: rotate(180deg);
  }
  .mobile-filter-swap .select2-container {
    width: 100% !important;
  }
  #profile-professional .prof-box {
    padding: 15px;
  }
  .prof-box-full .prof-prof-stars {
    float: left;
    margin-top: 15px;
  }
  .prof-box-full .prof-info {
    width: 100%;
    margin-top: 15px;
  }
  .msg-box-head,
  .msg-box-wrap,
  .msg-box-foot {
    padding: 15px !important;
  }
  .msg-send button {
    padding: 6px 8px;
  }
  .msg-send button span {
    display: none;
  }
  .arrow-box-rooms {
    display: block;
  }
  /* 768px */
}

@media(max-width:800px) {
  .popup-container,
  .popup-box {
    width: 100%;
    min-width: auto;
  }
}

@media(max-width:992px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #header #mobile-header-access .header-prof-name {
    display: none;
  }
  #header #mobile-header-access .header-prof-img div {
    width: 35px;
    height: 35px;
  }
  section.top-sec {
    margin-top: 70px;
  }
  .title-big {
    padding-top: 15px;
  }
  .registration-box {
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
  }
  .portfolio-front-img .mod-port-item {
    opacity: 1;
    background-color: rgba(29, 29, 29, .14);
  }
  .add-announcement-banner .banner-wrap,
  .register-as-prof-banner .banner-wrap {
    flex-direction: column;
    text-align: center;
  }
  .add-announcement-banner .banner-button,
  .register-as-prof-banner .banner-button {
    margin-top: 15px;
  }
  #list-favourites {
    width: 100%;
  }
}