#header {
  padding: 8px 0;
}

#header .row {
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

#header #mobile-header-navigation {
  display: none;
}

#header #mobile-header-logo img {
  width: 120px;
}

#header #menu-icon {
  margin-left: 10px;
  cursor: pointer;
}

#header #menu-icon img {
  width: 25px;
}

#header #mobile-header-access {
  display: flex;
  align-items: center;
}

#header #mobile-header-access .access {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#header #mobile-header-access li {
  margin: 0 10px;
}

#header #mobile-header-access li a {
  color: #FB743E;
  font-family: 'Yantramanav-medium';
  font-weight: 500;
  font-size: 16px;
}

#header #mobile-header-navigation {
  width: 100%;
  padding: 20px 0;
}

#header #mobile-header-navigation .access {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column;
}

#header #mobile-header-navigation .access li a {
  color: #FB743E;
}

#header #mobile-header-navigation li a {
  font-family: 'Yantramanav-medium';
  font-weight: 500;
}

#header #mobile-header-navigation .nav {
  flex-direction: column;
  padding: 0;
}

#header #mobile-header-navigation .nav li {
  padding: 15px 0;
  margin: 0;
}

#header #mobile-header-navigation li {
  padding: 15px 0;
  border-bottom: solid 1px #d7d7d7;
}

#header #mobile-header-navigation .nav li:last-child {
  border-bottom: none;
}

#header #mobile-header-navigation .header-prof-info {
  padding: 10px 0;
  border-bottom: solid 1px #d7d7d7;
}

@media(max-width:360px) {
  #header #mobile-header-access .access {
    display: none;
  }
}

@media(max-width:768px) {
  .registration-box {
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
  }
  .popup-box {
    width: 320px;
  }
}

@media(max-width:992px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #header #mobile-header-access .header-prof-name {
    display: none;
  }
  #header #mobile-header-access .header-prof-img div {
    width: 35px;
    height: 35px;
  }
  section.top-sec {
    margin-top: 90px;
  }
}