@font-face {
  font-family: Yantramanav;
  src: url('fonts/Yantramanav-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Yantramanav-Regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: Yantramanav-medium;
  src: url('fonts/Yantramanav-Medium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Yantramanav-Medium.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: Yantramanav-bold;
  src: url('fonts/Yantramanav-Bold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Yantramanav-Bold.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  scroll-behavior: smooth;
}

#registration,
#registration-prof,
#registration-user,
#login,
#home,
#announce,
#settings-user,
#settings-prof,
#search-page,
#profile-professional,
#leave-review,
#messages {
  display: none;
}

body * {
  font-family: 'Yantramanav';
  font-size: 19px;
  color: #3c4858;
}

body {
  padding-bottom: 100px;
  background: #f4f4f4;
}

label {
  color: #000
}

.container-inner {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

::placeholder {
  opacity: .6;
}

#header {
  box-shadow: 0px 1px 6px 0px #00000012;
  background: #fff;
  padding: 8px 0;
  z-index: 8;
}

#header .row {
  align-items: center;
  justify-content: space-between;
}

#header #header-logo img {
  max-width: 170px;
  width: 100%;
}

#header .nav {
  padding: 15px 0;
}

#header .nav li {
  margin: 0 30px;
}

#header .nav li.announc a {
  color: #FB743E;
  padding: 6px 25px;
  border: solid 3px #FB743E;
  border-radius: 6px;
}

#header .nav li a {
  color: #3c4858;
  font-family: 'Yantramanav-medium';
  font-weight: 500;
}

#header .nav li a:hover {
  text-decoration: none;
  color: #FB743E;
}

#header #header-navigation {
  display: flex;
  align-items: center;
}

#header #header-access {
  position: relative;
  display: inline-block;
}

#header #header-access .access {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 100%;
  align-items: center;
}

#header #mobile-header-access {
  position: relative;
}

#header #header-access .profileMenu,
#header #mobile-header-access .profileMenu {
  display: none;
}

#header #header-access .profileMenu,
#header #mobile-header-access .profileMenu {
  position: absolute;
  list-style: none;
  right: 40%;
  margin: 0;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 13%);
  margin-top: 12px;
  z-index: 8;
}

#header #mobile-header-access .profileMenu {
  top: 30px;
}

#header #header-access .profileMenu li,
#header #mobile-header-access .profileMenu li {
  padding: 6px 0;
}

#header #header-access .profileMenu li a,
#header #mobile-header-access .profileMenu li a {
  color: #3c4858;
  display: flex;
}

#header #header-access .profileMenu li img,
#header #mobile-header-access .profileMenu li img {
  width: 18px;
  margin-right: 15px;
}

#header #header-access li {
  margin: 0 15px;
}

#header #header-access li a {
  color: #FB743E;
  font-family: 'Yantramanav-medium';
  font-weight: 500;
}

#header .header-prof-info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}

#header .header-prof-info span {
  margin: 0 5px !important;
  color: #3c4858;
  font-family: 'Yantramanav-medium';
  font-weight: 500;
}

#header .header-prof-img div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#progress {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background-color: #FB743E;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 600ms ease-out, opacity 500ms linear;
  -ms-transition: width 600ms ease-out, opacity 500ms linear;
  -o-transition: width 600ms ease-out, opacity 500ms linear;
  -webkit-transition: width 600ms ease-out, opacity 500ms linear;
  transition: width 1000ms ease-out, opacity 500ms linear;
}

#progress b,
#progress i {
  position: absolute;
  top: 0;
  height: 3px;
  -moz-box-shadow: #777777 1px 0 6px 1px;
  -ms-box-shadow: #777777 1px 0 6px 1px;
  -webkit-box-shadow: #777777 1px 0 6px 1px;
  box-shadow: #777777 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#progress b {
  clip: rect(-6px, 22px, 14px, 10px);
  opacity: 0.6;
  width: 20px;
  right: 0;
}

#progress i {
  clip: rect(-6px, 90px, 14px, -6px);
  opacity: 0.6;
  width: 180px;
  right: -80px;
}

.back-btn {
  position: absolute;
  margin-top: -10px;
  cursor: pointer;
}

.back-btn img {
  width: 20px;
  transition-duration: .05s;
}

.back-btn img:hover {
  transform: translateX(-2px);
}

section.container {
  position: relative;
}

section.top-sec {
  margin-top: 50px;
}

button.def-btn {
  font-family: 'Yantramanav-medium';
  background: #FB743E;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 6px 25px;
  transition: box-shadow .2s;
  cursor: pointer;
  margin-top: 15px;
}

button.def-btn:hover {
  box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, .2);
}

.title-big {
  text-align: center;
  margin-bottom: 30px;
}

.title-big h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.title-big p {
  font-size: 19px;
  line-height: 23px;
}

.title-small {
  text-align: left;
  margin-bottom: 15px;
}

.title-small h1 {
  font-size: 31px;
  font-family: 'Yantramanav-medium';
  line-height: 39px;
}

.title-small p {
  font-size: 19px;
  line-height: 23px;
}

.registr-icon {
  max-width: 55px;
  margin-bottom: 8px;
}

.registration-box {
  padding: 48px;
  padding-top: 30px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  width: 450px;
  border: solid 1px rgba( 0 0 0 / 8%);
}

.registration-box h2 {
  font-size: 26px;
  line-height: 32px;
}

.registration-box p {
  line-height: 23px;
  margin: 25px 0;
}

.registration-box h5 {
  font-size: 21px;
  margin: 30px 0;
  font-family: 'Yantramanav-medium';
}

.registration-box h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Yantramanav-medium';
}

#registration .row,
#registration-prof .row,
#registration-user .row {
  justify-content: space-around;
}

.reg-type-btn {
  display: flex;
  background-color: #FB743E;
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: box-shadow .2s;
}

.reg-type-btn:hover {
  box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, .2);
}

.reg-type-img {
  width: 45px;
}

.reg-type-img img {
  max-width: 25px;
}

.reg-type-label {
  padding-left: 15px;
  border-left: solid 1px #ffffff73;
}

.reg-type-label span {
  color: white;
}

.popup {
  display: none;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .32);
  opacity: 0.8;
  z-index: 9;
}

.popup-container.row {
  position: fixed;
  margin: 0;
  top: 20vh;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.popup-box {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  min-width: 420px;
  z-index: 10;
  box-shadow: 0 2px 3px 0 rgba(60, 64, 67, .3), 0 6px 10px 4px rgba(60, 64, 67, .15);
}

.popup-box h2 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
}

.popup-box p {
  line-height: 23px;
  margin: 25px 0;
}

.popup-box h5 {
  font-size: 21px;
  font-size: 21px;
  margin-bottom: 20px;
  font-family: 'Yantramanav-medium';
}

.input-with-label {
  margin-bottom: 15px;
}

.input-with-label label {
  margin-bottom: 0px;
  font-family: Yantramanav-medium;
  font-size: 16px;
}

.input-with-label input {
  width: 100%;
  font-size: 17px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 36px;
  padding: 0 15px;
}

.input-with-label select {
  font-size: 17px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 36px;
  padding: 0 15px;
}

.input-with-label textarea {
  width: 100%;
  font-size: 17px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 65px;
  padding: 6px 15px;
}

.input-with-label .opt {
  color: #616161;
  font-size: 11px;
}

.box-error {
  text-align: left;
  margin-bottom: 15px;
}

.form-error {
  text-align: left;
}

.form-error span,
.box-error span {
  margin: 0;
  color: #e80e0e;
  font-size: 17px;
  text-align: left;
}

#login .row {
  justify-content: center;
}

#email-login .input-with-label {
  text-align: left;
}

.side-line-text {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  line-height: 0px;
  font-weight: 300;
}

.side-line-text span {
  background-color: white;
  padding: 0 10px;
}

.edit-pen {
  color: #FB743E;
  cursor: pointer;
}

.edit-pen:hover {
  text-decoration: underline;
}

.edit-pen::before {
  content: '✎';
}

.swap-pen {
  color: #FB743E;
  cursor: pointer;
}

.swap-pen:hover {
  text-decoration: underline;
}

.swap-pen::before {
  content: '🗘';
}

.profile-box {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
  width: 100%;
}

.profile-box-head {
  border-bottom: solid 1px rgba( 0 0 0 / 8%);
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.profile-box-head h2 {
  font-size: 25px;
  margin: 0;
  font-family: 'Yantramanav-medium';
}

.profile-box-head button.def-btn {
  margin-top: 0;
}

.profile-box-body {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.profile-box-body .input-with-label {
  min-width: 250px;
}

.profile-box-body .mr-20 {
  margin-right: 20px;
}

.prof-box-body-img {
  padding-right: 15px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.prof-box-body-img input[type=date] {
  max-width: 175px;
}

.prof-box-body-info {
  width: 75%;
  padding-left: 15px;
}

.prof-box-body-info .input-with-label {
  width: 100%;
}

.prof-box-body-img .input-with-label {
  margin-top: 15px;
  min-width: 100%;
}

.prof-box-body-img div.prof-my-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

#changePassword {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#changePassword span {
  color: #FB743E;
  cursor: pointer;
}

#changePassword::before {
  content: '🔑';
}

#changePassword span:hover {
  text-decoration: underline;
}

.profile-box-body label {
  font-family: Yantramanav-medium;
  font-size: 16px;
}

.prof-box-body-profession {
  background-color: #F6F5F5;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border: solid 1px rgba( 0 0 0 / 8%);
}

.my-services {
  display: flex;
}

.add-prof-box {
  border-radius: 6px;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: solid 1px rgba( 0 0 0 / 8%);
  text-align: center;
  color: #FB743E;
  font-weight: bold;
}

.add-prof-box:hover {
  background-color: #f9f9f9;
  text-decoration: underline;
  cursor: pointer;
}

.add-plus {
  color: #FB743E;
  cursor: pointer;
}

.add-plus:hover {
  text-decoration: underline;
}

.add-plus::before {
  font-weight: 800;
  content: '+';
}

.profile-box-body.my-portfolio {
  display: block;
}

.portfolio-item {
  margin-bottom: 30px;
  cursor: pointer;
}

.portfolio-item .portfolio-front-img {
  height: 150px;
  border-radius: 6px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #C4C4C4;
}

.portfolio-front-img .mod-port-item {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.portfolio-item:hover .mod-port-item {
  opacity: 1;
  background-color: rgba(29, 29, 29, .14);
}

.portfolio-front-img .mod-port-item .port-mod,
.portfolio-front-img .mod-port-item .port-del {
  border-radius: 100px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #C4C4C4;
}

.portfolio-item:hover .mod-port-item .port-mod:hover,
.portfolio-front-img .mod-port-item .port-del:hover {
  background-color: #f9f9f9;
}

.portfolio-front-img .mod-port-item .port-del {
  margin-left: 10px;
}

.portfolio-front-img .mod-port-item .port-del:before {
  content: url(/images/trash-icon.svg);
  margin-bottom: -8px;
}

.portfolio-front-img .mod-port-item .port-mod:before {
  content: '✎';
  color: #FB743E;
  margin-bottom: -2px;
  font-size: 22px;
}

.portfolio-item strong {
  font-size: 16px;
}

.profile-box-body .def-btn {
  margin-top: 0;
  margin-right: 15px;
}

.saveContainer {
  align-items: center;
}

.saveContainer .cancel-btn {
  padding: 0 15px;
  color: #FB743E;
  font-family: 'Yantramanav-medium';
  cursor: pointer;
}

.saveContainer .cancel-btn:hover {
  text-decoration: underline;
}

.my-professions {
  width: 100%;
}

.select2-selection--single {
  border: 1px solid #C4C4C4 !important;
  border-radius: 6px !important;
  height: 36px !important;
  padding: 0 15px !important;
  display: flex !important;
  align-items: center !important;
}

.my-professions .select2-container {
  width: 85% !important;
}

.select2-selection__arrow {
  top: 4px !important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #FB743E !important;
}

.select2-search__field {
  border: 1px solid #C4C4C4 !important;
  border-radius: 6px !important;
  height: 30px !important;
  padding: 0 15px !important;
}

.select2-search {
  border-top: 1px solid #C4C4C4 !important;
}

.select2-selection__rendered {
  flex-grow: 1;
}

.select2-results__option--disabled {
  display: none;
}

li.select2-results__option {
  border-bottom: 1px solid #C4C4C4 !important;
  font-size: 17px;
}

.services-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 0;
}

.services-container ul li {
  border: solid 1px #C4C4C4;
  background-color: #fff;
  border-radius: 100px;
  padding: 1px 15px;
  margin: 4px;
  cursor: pointer;
  font-size: 17px;
}

.services-container ul li:hover {
  background-color: #f9f9f9;
}

.services-container ul li.active {
  border-color: #FB743E;
  background-color: #f9f9f9;
}

.services-container ul li.active.toText {
  border-color: #C4C4C4;
  background-color: #fff;
}

.select-prof option {
  float: left;
}

.select-prof span {
  float: right;
}

.prof-box-body-profession .remove {
  float: right;
  color: #FB743E;
  font-size: 17px;
  cursor: pointer;
}

.prof-box-body-profession .remove:hover {
  text-decoration: underline;
}

.other-services {
  margin-top: 15px;
}

.other-services input {
  width: 100%;
  height: 29px;
  border: 1px solid #C4C4C4;
  border-radius: 100px;
  padding: 0 15px;
  font-size: 17px;
}

.other-services input:hover {
  background-color: #f9f9f9;
}

.other-services input.active {
  border-color: #FB743E;
  background-color: #f9f9f9;
}

.set-counter,
.set-counter b {
  font-size: 12px;
  color: #b1b1b1;
  font-weight: 400;
}

.prof-box-body-profession .inp-text {
  background-color: #FB743E;
  color: #fff;
  padding: 2px 20px;
  border-radius: 100px;
  font-size: 21px;
  font-family: Yantramanav-medium;
}

.other-services input {
  font-size: 17px;
}


/*
* autocomplete input
*/

.autocomplete-input {
  position: relative;
  display: inline-block;
}

.autocomplete-input input {
  padding-right: 30px;
}

.input-with-label.autocomplete-input {
  width: 100%;
  margin-right: 0;
}

.autocomplete-input input[type=submit] {
  background-color: #FB743E;
  color: #fff;
  cursor: pointer;
}

.autocomplete-input .autocomplete-items {
  position: absolute;
  border: 1px solid #C4C4C4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-input .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #C4C4C4;
  font-size: 17px;
}

.autocomplete-input .autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-input .autocomplete-active {
  background-color: #FB743E !important;
  color: #ffffff;
}

.autocomplete-input .rmv {
  display: none;
  position: absolute;
  top: calc(50% - 0px);
  right: 35px;
  cursor: pointer;
}

.autocomplete-input .rmv img {
  width: 18px;
}

.inp-with-loc {
  display: flex;
  align-items: center;
}

.get-location-icon {
  width: 20px;
  margin-left: 10px;
}

.get-location-icon img {
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.get-location-icon img:hover {
  cursor: pointer;
  animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.popup#add-new-work-img .popup-container {
  top: 11vh;
  width: 100%;
}

.popup#add-new-work-img .popup-box {
  max-width: 800px;
  width: 100%;
}

.upload-work-btn #newWorkImage {
  border: dotted 2px #FB743E;
  text-align: center;
  color: #FB743E;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}

.preview-work-image {
  display: none;
  height: 320px;
  width: 100%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}


/**
* search bar
*/

.search-bar {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  width: 100%;
}

.search-inputs {
  flex-grow: 1;
}

.inp-service {
  flex-grow: 2;
  margin-right: 20px;
  background-color: #F6F5F5;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 40px;
  display: flex;
}

.inp-service select {
  display: none;
}

.inp-service .select2-container {
  flex-grow: 1;
}

.inp-service .select2-selection {
  background-color: transparent !important;
  border: none !important;
  padding-top: 3px !important;
  padding-left: 0px !important;
}

.inp-service .select2-selection__rendered {
  font-size: 17px;
  font-family: 'Yantramanav-medium' !important;
}

.boldBigService {
  font-family: 'Yantramanav-bold' !important;
  font-size: 19px !important;
  padding-left: 10px !important;
  background-color: #f6f5f5 !important;
  box-shadow: 0px 0px 1px 0px #b7b7b7;
}

.smallSubservice {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 25px !important;
  font-size: 16px !important;
}

.inp-service img {
  padding: 8px;
}

.inp-location {
  flex-grow: 1;
  margin-right: 20px;
  background-color: #F6F5F5;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 40px;
  display: flex;
}

.inp-location input {
  width: 100%;
  background-color: #F6F5F5;
  border: none;
  border-radius: 6px;
  padding-left: 8px;
  padding-top: 3px;
  font-size: 17px;
  font-family: 'Yantramanav-medium';
}

.inp-location input::placeholder {
  color: #3c4858;
  opacity: 1;
}

.inp-location img {
  padding: 8px;
}

.inp-location .autocomplete-input {
  display: flex;
  width: 100%;
}

.inp-location .autocomplete-input img {
  padding: 0;
}

.inp-location .autocomplete-input .rmv {
  top: 5px;
  right: 6px;
}

.inp-location .autocomplete-items {
  border-top: 1px solid #C4C4C4;
}

.search-bar button {
  width: 55px;
  height: 40px;
  border: none;
  background-color: #FB743E;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.search-bar button.deactivated {
  background-color: #c3c3c3;
}


/**
* END search bar
*/

.div-line {
  width: 100%;
  border-bottom: solid 1px #C1C1C1;
  margin-bottom: 30px;
}

.searched-location {
  padding: 20px 0;
  margin-top: 15px;
}

.searched-location h1 {
  font-family: 'Yantramanav-medium';
  font-size: 31px;
  margin-bottom: 0;
}

.searched-location span {
  color: #FB743E;
  font-size: 31px;
  font-family: 'Yantramanav-medium';
}

.sidebar-filter h3 {
  font-family: 'Yantramanav-medium';
  font-size: 21px;
  margin-bottom: 15px;
}

.sidebar-filter .select2-selection--single {
  height: 38px !important;
}

.sidebar-filter .select2-selection__rendered {
  font-size: 19px !important;
}

.sidebar-filter .select2-container {
  width: 100% !important;
}

#servicesContainer {
  margin-top: 15px;
  overflow: auto;
}

.radio-cont {
  display: flex;
}

.radio-cont input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.radio-cont .side-label {
  display: block;
  position: relative;
  margin: 5px 0;
  padding-left: 24px;
  cursor: pointer;
  font-size: 17px;
}

.radio-cont .side-label::before,
.side-label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
}

.radio-cont .side-label::before {
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid #3c4858;
  border-radius: 6px;
}

.radio-cont .side-label::after {
  display: none;
  width: 9px;
  height: 9px;
  margin: 4px;
  border-radius: 6px;
  background-color: #FB743E;
}

.radio-cont input:checked+.side-label::after {
  display: block;
}

#sort-prof {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 20px;
}

#sort-prof h3 {
  font-family: 'Yantramanav-medium';
  font-size: 21px;
  margin-bottom: 15px;
  margin-right: 8px;
}

#sort-prof .select2-container {
  float: right;
  width: 200px !important;
}


/**
* prof card
*/

.prof-box {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.prof-box * {
  cursor: pointer;
}

.prof-box:hover {
  box-shadow: 0px 5px 10px rgb(0 0 0 / 11%);
}

.prof-box .prof-box-img {
  float: left;
  padding-right: 15px;
}

.prof-box-img .prof-img-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 6px;
  width: 110px;
  height: 110px;
}

.number-stars {
  z-index: 1;
}

.prof-and-stars {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 8px;
}

.prof-prof-stars {
  display: flex;
}

.prof-prof-stars span {
  color: #6c757d !important;
  font-size: 18px;
}

.prof-and-stars .prof-professions span {
  font-size: 21 px;
  font-family: 'Yantramanav-medium';
  padding-right: 10px;
}

.prof-box .prof-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.prof-box .prof-info p {
  font-size: 17px;
  font-family: 'Yantramanav-medium';
  margin: 0;
}

.prof-info p.intro {
  color: #6c757d !important;
  font-family: 'Yantramanav' !important;
  margin-top: 8px;
}

.distance-and-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.distance-and-button .distance {
  margin-right: 30px;
  font-family: 'Yantramanav-medium';
  font-size: 19x;
}

.load-placeholder {
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
  border-radius: 6px;
  animation: loadList 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes loadList {
  0% {
    background-color: #eeeeee;
  }
  60% {
    background-color: #fff;
  }
  100% {
    background-color: #eeeeee;
  }
}

.no-results {
  text-align: center;
  margin-top: 50px;
  color: #fb743e;
  font-size: 25px;
  font-family: 'Yantramanav-medium';
}

.range-drop {
  position: relative;
  display: inline-block;
}

.range-drop .value .km {
  font-family: 'Yantramanav-medium';
  font-size: 31px;
  margin-bottom: 0;
  cursor: pointer;
  color: #3c4858;
  margin-left: 5px;
}

.range-drop .value .km:hover {
  color: #FB743E;
}

.range-drop .value span {
  font-size: 14px;
  margin-left: -2px;
}

.range-drop ul {
  position: absolute;
  background-color: #fff;
  padding: 10px 15px;
  list-style: none;
  z-index: 1;
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 13%);
  border-radius: 6px;
  min-width: 110px;
  display: none;
}

.range-drop li {
  font-size: 22px;
  font-family: 'Yantramanav-medium';
  padding: 4px 0;
  cursor: pointer;
}

.range-drop li:hover {
  text-decoration: underline;
}

.loc-err {
  text-align: right;
  color: #ef2f2f;
}

#profile-professional {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.prof-box-full {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.prof-box-full .prof-box-img {
  float: left;
  padding-right: 30px;
}

.prof-box-full .prof-info {
  display: flex;
  flex-direction: column;
}

.prof-box-full .prof-info p {
  margin: 0;
}

.prof-box-full.full-profile:hover {
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
}

button.sendMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

button.sendMessage .msg-icon {
  margin-left: 3px;
}

.rating-full {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


/*favorite button*/

.save-to-favorite {
  display: flex;
  align-items: center;
}

.save-to-favorite i {
  cursor: pointer;
  transition: 0.2s;
  margin-left: 15px;
}

.save-to-favorite i:hover {
  color: #666;
}

.save-to-favorite i:before {
  font-family: fontawesome;
  content: "❤";
  font-style: normal;
  font-size: 27px;
}

.save-to-favorite span {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: 0.6s;
  z-index: -2;
  font-size: 2px;
  color: transparent;
  font-weight: 400;
}

.save-to-favorite i.press {
  animation: size 0.4s;
  color: #e23b3b;
}

.save-to-favorite span.press {
  bottom: 120px;
  font-size: 14px;
  visibility: visible;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    color: none;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: none;
  }
}

@keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 14px 16px 12px;
    margin-top: -4px;
  }
  100% {
    padding: 10px 12px 8px;
  }
}


/*favorite button*/

.full-description {
  margin-top: 30px;
}

.full-description p {
  color: #6c757d !important;
  font-family: 'Yantramanav' !important;
  margin-top: 8px;
  font-size: 17px;
}

.prof-box-full.full-profile h3 {
  font-size: 29px;
  color: #fb743e;
  font-family: 'Yantramanav-medium';
}

.prof-box-full.full-profile h3 span {
  font-size: 29px;
  color: #6c757d;
  font-family: 'Yantramanav-medium';
}

.full-services {
  overflow: hidden;
}

.full-services .service-item {
  float: left;
  width: 33%;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 29px;
  font-family: Yantramanav-medium;
}

.full-services .service-item:before {
  content: '✔';
  margin-right: 3px;
}


/*slider*/

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  border: 1px solid #fff;
  cursor: pointer;
  max-width: 100%;
  max-height: 70vh;
}

.swiper-slide p {
  color: #fff;
  margin-top: 15px;
  padding: 0 15px;
}

#fullscreen-swiper-port,
#fullscreen-swiper-rew {
  display: none;
  height: 90vh;
  overflow: hidden;
  position: fixed;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.swiper-slide {
  background: none;
}

#fullscreen-swiper-backdrop {
  background: #000;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#fullscreen-swiper-close-port,
#fullscreen-swiper-close-rew {
  color: #fb743e;
  cursor: pointer;
  font-size: 24px;
  padding: 1px 6px 0;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 10000;
}

.no-scroll {
  height: 100%;
  overflow: hidden
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  color: #fb743e;
}

mark {
  line-height: 20px;
  padding: 0 0.25em;
}

mark a {
  text-decoration: none;
}

.swiper-pagination .swiper-pagination-bullets {
  bottom: -2px;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: .5;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #fb743e;
}


/*slider*/

.full-portfolio .portfolio-front-img {
  cursor: pointer !important;
}

.full-portfolio h3 {
  color: #3c4858 !important;
}

#profile-professional .prof-box-full {
  padding: 30px;
}

.prof-box-full .prof-prof-stars {
  float: right;
}

.prof-box-full .prof-professions {
  float: left;
}

.prof-box-full .prof-info {
  display: inline-block;
}

.reviews-list * {
  font-size: 17px;
}

.reviews-list .review {
  margin: 10px 0;
  padding-bottom: 30px;
}

.reviews-list .review:not(:first-child) {
  margin-top: 20px;
}

.reviews-list .review:not(:last-child) {
  border-bottom: solid 1px #ddd;
}

.reviews-list .reviewer {
  display: flex;
  align-items: center;
}

.reviews-list .reviewer-img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.reviewer p {
  margin: 0;
  font-family: Yantramanav-medium;
}

.review-date p {
  color: #6c757d;
  margin: 0;
  font-size: 15px;
}

.review-images {
  display: flex;
}

.review-images img {
  max-height: 60px;
  margin-right: 3px;
}

.prof-info .prof-name {
  font-family: Yantramanav-bold;
}

.review-box {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
}

.review-box .review-box-head,
.review-box .review-box-body {
  padding: 30px;
  width: 100%;
  overflow: hidden;
}

.review-box .review-box-head {
  border-bottom: solid 1px rgba( 0 0 0 / 8%);
}

.review-box-head a {
  font-size: 25px;
  margin: 0;
  font-family: 'Yantramanav-medium';
  color: #FB743E;
}

#leave-review {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.review-box h2,
.review-box h2 span {
  font-size: 25px;
  margin: 0;
  font-family: 'Yantramanav-medium';
}

.review-notice {
  font-size: 15px;
  font-family: 'Yantramanav';
  color: #6c757d;
  margin: 0;
}

.review-notice a {
  font-size: 15px;
  font-family: 'Yantramanav';
  color: #FB743E;
  margin: 0;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviewer .reviewer-img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 6px;
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.review-text textarea {
  width: 100%;
  font-size: 17px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 65px;
  padding: 6px 15px;
}

.review-stars-label,
.review-stars-label span {
  font-family: 'Yantramanav';
  color: #6c757d;
}

.review-rating-stars {
  padding: 0 !important;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating .rating-num {
  font-size: 21px;
}

.new-photo-placeholder {
  height: 60px;
  width: 60px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

.new-photo-placeholder img {
  width: 30px;
}

.new-photo-placeholder:hover {
  box-shadow: 1px 1px 1px 1px rgb(33 33 33 / 20%);
}

.rev-img-prev {
  max-height: 60px;
}

.rev-imgs {
  position: relative;
}

.rev-imgs span {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: #FB743E;
  cursor: pointer;
  text-shadow: 0px -1px #000000;
}

.prew-imgs {
  display: flex;
}

#review-success {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

#review-success .review-box-body {
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
}

#review-success .review-box-body h2 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Yantramanav-medium';
}

#review-success .review-box-body a {
  color: #FB743E;
}

#reviews-sec h3 {
  color: #3c4858 !important;
}

.review .review-star {
  padding: 0;
}

#give-review a {
  font-family: Yantramanav-medium;
  color: #fb743e;
  padding: 6px 25px;
  border: solid 2px #fb743e;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
}

#give-review span:hover {
  box-shadow: 1px 1px 1px 1px rgb(33 33 33 / 20%);
}

#give-review {
  margin: 15px 0;
}

#reviews-sec .reviews-top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#reviews-sec h3 {
  margin: 0;
}

.review img {
  cursor: pointer;
}


/*
* messages
*/

.messages-box {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
  width: 100%;
}

.msg-box-head {
  border-bottom: solid 1px rgba( 0 0 0 / 8%);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-box-head span {
  color: #6c757d;
  font-size: 15px;
}

.msg-box-wrap {
  padding: 30px;
  box-shadow: inset 0 4px 10px -11px #000000;
  height: 350px;
  overflow-y: scroll;
}

.msg-box-foot {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px rgba( 0 0 0 / 8%);
  flex-wrap: nowrap;
}

.msg-send-image-placeholder {
  height: 36px;
  width: 36px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
  transition: box-shadow .2s;
}

.msg-send-image-placeholder img {
  width: 20px;
}

.msg-input {
  flex-grow: 1;
  margin-right: 15px;
}

.msg-input input {
  width: 100%;
  font-size: 17px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 36px;
  padding: 0 15px;
}

.msg-send button {
  font-family: 'Yantramanav-medium';
  background: #FB743E;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 6px 25px;
  transition: box-shadow .2s;
  cursor: pointer;
  height: 36px;
  line-height: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.msg-send button span {
  font-family: 'Yantramanav-medium';
  color: #fff;
  line-height: 0;
  margin-right: 3px;
}

.msg-send button:hover,
.msg-send-image-placeholder:hover {
  box-shadow: 1px 1px 1px 1px rgb(33 33 33 / 20%);
}

.msg-box-head h3 {
  font-size: 25px;
  margin: 0;
  font-family: 'Yantramanav-medium';
}

.msg-box-head h3 a {
  font-size: 25px;
  margin: 0;
  font-family: 'Yantramanav-medium';
  color: #FB743E;
}

.single-message {
  display: flex;
  margin-bottom: 30px;
}

.single-message img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.msg-time {
  color: #6c757d;
  font-size: 12px;
  text-align: right;
}

.msg-text {
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
}

.msg-text p {
  word-wrap: break-word;
  line-height: 22px;
  font-size: 14px;
}

.msg-sender-name {
  font-family: Yantramanav-bold;
  margin-bottom: 0;
  font-size: 15px;
}

.msg-single-body .msg-single {
  margin-left: 10px;
  border-radius: 0 6px 6px 6px;
  padding: 10px 15px;
  border: solid 1px;
  background-color: #F6F5F5;
  border: solid 1px rgba( 0 0 0 / 8%);
  overflow: hidden;
}

.rooms-box {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%);
  border: solid 1px rgba( 0 0 0 / 8%);
  border-radius: 6px;
  width: 100%;
}

.rooms-box-head {
  border-bottom: solid 1px rgba( 0 0 0 / 8%);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-box-rooms {
  display: none;
  width: 15px;
  transform: rotate(90deg);
  transition: all .4s;
}

.rooms-box-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.rooms-box-body h4 a {
  color: #FB743E;
}

.single-chat img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
}

.rooms-box-head h3 {
  font-size: 25px;
  margin: 0;
  font-family: 'Yantramanav-medium';
}

.single-chat {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
  position: relative;
}

.single-chat:not(:last-child) {
  border-bottom: solid 1px rgba( 0 0 0 / 8%);
}

.single-chat:hover {
  background-color: #eeeeee;
}

.single-chat p {
  margin: 0;
}

.single-chat-info {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.single-chat-info p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.room-name-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-message {
  color: #6c757d91;
  font-size: 15px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-name-time span {
  font-size: 12px;
  color: #6c757d;
}

.progress-page-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #F2F2F2;
}

.progress-page-bar .bar {
  background-color: #FB743E;
  width: 0%;
  height: 5px;
  border-radius: 3px;
}

.progress-page-bar .percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%;
}

.chat-room-selected {
  background-color: #f4f3f3;
  border-right: solid 3px #fb743e;
}

#send-message.deactivated {
  pointer-events: none;
  opacity: 0.5;
}

#listProf a:hover {
  text-decoration: none;
}

.sidebar-unread {
  background-color: #fb743e;
  border-radius: 100px;
  min-width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  border: solid 1px;
  padding: 0 4px;
}

.chat-date {
  font-size: 12px;
  color: #8f8f8f;
  text-align: center;
  margin-bottom: 30px;
}

.chat-date::before,
.chat-date::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #c5c5c5;
  width: 60px;
  margin: 0 1rem;
  transform: translateY(-4px);
}

.photo-message img {
  width: 120px;
  height: auto;
  border-radius: 0;
}